/*=========================================
=            Less, custom page            =
=		Ajout de toutes les modifications =
=				de style 				  =
=========================================*/

/*
.container{
	border: solid 1px black;
}

[class*="col-"]{
	border: blue solid 1px;
}


.row{
	border:green solid 1px;
}
*/

header{
	
	height: 400px;	
	padding-top:50px;

}


header  h1{
	 	text-align: center;
	 	font-family	:Verdana, Arial;
	 	font-size: 10em;
	 	font-weight: bold;
	 }
header h1 a{
	 	color:black;
	 	height: auto;

}
header h1 a:hover{
	text-decoration: none;
	color:#2c3e50;
}



.headLog{
	//border:solid black;
	background: url('../../img/logo.jpg') no-repeat center center;
	background-size:   100% auto;
	height:400px;
}


.nav{
	margin-top:5%;
	margin-bottom: 1%;
	//color:gray;
}

.nav .active a{
	
	//background-color: #4B688B;
}
.bann{
	margin-top:100px;

	
}

.social [class*="col-"]{
	border: solid;
	height: 300px;
}


footer{
	background-color: #34495e;
	color:white;
	font-family: verdana;
}

footer li a{
	color:#95a5a6;
}

footer li a:hover{
	text-decoration:none;
	color:#7f8c8d;

}

.links{
	border-right: 1px solid #7f8c8d;
}

.jumbotron {
	margin-top: 2%;
}

#contact , #sign_up{
	margin-top:10%;
	margin-bottom: 10%;
}

.trombi {
	text-align: center; 
}
.trombi ul {
	list-style-type:none;
	font-family	:Verdana, Arial;
	font-size:1.1em;
	color:#3e4561;
}

.trombi img{
	height: 200px;
	border-radius: 1.2em 1.2em;
}