<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Application nuit de l'info</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/animate-css/animate.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        
        <link href="lib/leaflet/leaflet.css" rel="stylesheet">
        <link href="lib/datepicker/default.css" rel="stylesheet">
        <link href="lib/datepicker/default.date.css" rel="stylesheet">
        <link href="lib/datepicker/default.time.css" rel="stylesheet">
        
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        
        <script src="lib/datepicker/angular-datepicker.js"></script>
        <script src="lib/geo/angularjs-geolocation.min.js"></script>
        
        <style>
            .label-right {
                float: right !important;
            }
            .container-margin {
                margin-top: 100px;
            }
            
            #loading{
                position: absolute;
                background: url(img/ajax-loader.gif) no-repeat center center;
                z-index: 6000;
            }

            #mask{
                position: absolute;
                background: #fff;
                opacity: 0.5;
                z-index: 5000;
            }

            #loading, #mask{
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
            
            .legend.info {
                background: #fff;
                padding: 20px;
                border: 3px solid black;
                border-radius: 5px;
            }
            .legend.info i{
                float: left;
                height: 16px;
                width: 16px;
                margin-right: 10px;
            }
            
        </style>
    </head>
    <body ng-app="app" ng-controller="AppCtrl">
        <div ng-show="loading" id="mask"></div>
        <div ng-show="loading" id="loading"></div>
        
        <div id="menu">
            <div class="container">
                <div class="row header">
                    <div class="col-md-2 col-sm-2 col-xs-2" id="logo">
                        <a href="#/"><img src="img/LogoNuitInfo.png" alt=""/></a>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-4">
                        <h1>Support Locator</h1>
                        <ul class="list-inline">
                            <li><a href="#/">Accueil</a></li>
                            <li><a href="#/search">Recherche</a></li>
                            <li ng-if="isLogin()"><a href="#/victim">Victimes</a></li>
                            <li ng-if="isLogin()"><a href="#/zone">Zone</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" id="connexion">
                        <a href="#/login" ng-if="!isLogin()"><button class="btn btn-primary btn-lg">Connexion</button></a>
                        <a href="#/logout" ng-if="isLogin()"><button class="btn btn-primary btn-lg">Deconnexion</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-view></div>

        <footer>
            <p>Copyrigth © 2014 Nuit de L'info Equipe A</p>
        </footer>
        
        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/controllers/MapCtrl.js"></script>
        <script src="js/controllers/SearchCtrl.js"></script>
        <script src="js/controllers/VictimCtrl.js"></script>
        <script src="js/controllers/VictimsCtrl.js"></script>
        <script src="js/controllers/ZoneCtrl.js"></script>
        <script src="js/controllers/ZonesCtrl.js"></script>
        <script src="js/controllers/HomeCtrl.js"></script>
        <script src="js/controllers/OrgaCtrl.js"></script>
        <script src="js/controllers/OrgasCtrl.js"></script>
        
        <script src="lib/leaflet/leaflet.js"></script>
        <script src="lib/leaflet/leaflet-src.js"></script>
        
    </body>
</html>
