<div class="container container-margin">
    <div class="animated fadeIn">
        <section id="login-container">
            <div class="row">
                <div class="col-md-12" id="login-wrapper">
                    <div class="panel panel-primary animated flipInY">
                        <div class="panel-heading">
                            <h3 class="panel-title">Connexion</h3>      
                        </div>
                        <div class="panel-body">
                           <p>Connectez-vous pour accéder à l'application</p>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                   <div class="col-md-12">
                                        <input type="text" class="form-control" ng-model="data.identity" id="email" placeholder="medecin1">
                                        <i class="fa fa-user"></i>
                                        <!--<a href="javascript:void(0)" class="help-block">Mot de passe oublié ?</a>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                   <div class="col-md-12">
                                        <input type="password" class="form-control" id="password" ng-model="data.password" placeholder="med">
                                        <i class="fa fa-lock"></i>
                                        <!--<a href="javascript:void(0)" class="help-block">Mot de passe oublié ?</a>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                   <div class="col-md-12">
                                        <button ng-click="doLogin(data.identity, data.password)" class="btn btn-primary btn-block">Connexion</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>