<div class="container container-margin">
    <section class="container">
        <div class="row" >
                <div class="col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-4">
                    <a href="index.html">
                        <button class="btn"><h1>Enregistrer une règle </h1></button>
                    </a>
                </div>
            <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4">
                <a href="add_zone.html">
                    <button class="btn"><h1>Enregistrer une zone </h1></button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-4">
                <a href="index.html">
                    <button class="btn"><h1>Supprimer une règle </h1></button>
                </a>
            </div>
            <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4">
                <a href="add_victim.html">
                    <button class="btn"><h1>Ajouter une victime </h1></button>
                </a>
            </div>
        </div>
    </section>
</div>