<div class="container container-margin">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
                </tr>
        </thead>
        <tbody>
            <tr align="center" ng-hide="orgas">
                <td colspan="3">Aucun résultat</td>
            </tr>
            <tr ng-repeat="orga in orgas">
                <td>{{$index + 1}}</td>
                <td>{{orga.name}}</td>
                <td>{{orga.type}}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="#/organizations/{{orga._id}}/update"><i class="glyphicon glyphicon-edit"></i></a>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="deleteOrga($index)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
