<div class="container container-margin" ng-init="loadOrga()">
    <form role="form">
        <div class="form-group">
            <label for="inputSurname">Nom </label>
            <input type="text" class="form-control" id="inputType" placeholder="Enter the name" ng-model="orga.name">
        </div>
        <div class="form-group">
            <label for="inputType">Type </label>
            <input type="text" class="form-control" id="inputType" placeholder="Enter the type" ng-model="orga.type">
        </div>
        <button type="button" class="btn btn-default" ng-click="updateOrga(orga)">Modifier</button>
    </form>
</div>