<div class="container container-margin">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="inputIdentity" class="sr-only">Identité</label>
            <input type="text" ng-model="criteres.identity" class="form-control" id="inputIdentity" placeholder="Identité">
        </div>
        <div class="form-group">
            <label for="inputAge" class="sr-only">Age</label>
            <input type="text" ng-model="criteres.age" class="form-control" id="inputAge" placeholder="Age">
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchVictims(criteres)">Recherche</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Identité</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" ng-hide="victims">
                <td colspan="3">Aucun résultat</td>
            </tr>
            <tr ng-repeat="victim in victims">
                <td>{{$index + 1}}</td>
                <td><a href="#/victim/{{victim._id}}">{{victim.identity}}</a></td>
            </tr>
        </tbody>
    </table>
</div>