<div class="container container-margin">
    <form role="form" ng-init="loadVictim(true)">
        <div class="form-group">
            <label for="inputName">Identité </label>
            <input type="text" class="form-control" id="inputIdentity" placeholder="Entrer the identity" ng-model="victim.identity">
        </div>
        <div class="form-group">
            <label for="inputBirth">Date de naissance </label>
            <input type="text" class="form-control" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" ng-model="victim.birthdate" />
        </div>
        <div class="form-group">
            <label for="inputLocalization">Localisation </label>
            <div id="mapLocalisation" style="height:300px;width:100%;"></div>
        </div>
        <div class="form-group">
            <label for="inputZone">Zone </label>
            <input type="text" class="form-control" id="inputZone" placeholder="Entrer la zone" ng-model="victim.zone">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label for="inputEvents">Evenements </label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="event in victim.events">{{event.name}} <span class="label label-info label-right">{{event.date|date:'dd/MM/yyyy'}}</span></li>
                        <li class="list-group-item">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label for="inputIdentity" class="sr-only">Nom</label>
                                    <input type="text" ng-model="event.name" class="form-control" id="inputName" placeholder="Entrer un nom">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="createEvent(event)">Ajouter</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <label for="inputServices">Services </label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="service in victim.services"><span ng-if="service.provider.name">{{service.provider.name}} :</span> {{service.name}} {{service.quantity.value}} {{service.quantity.unit}}<span class="label label-info label-right">{{service.date|date:'dd/MM/yyyy'}}</span></li>
                        <li class="list-group-item">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label for="inputIdentity" class="sr-only">Nom</label>
                                    <input type="text" ng-model="service.name" class="form-control" id="inputName" placeholder="Entrer un nom">
                                </div>
                                <div class="form-group">
                                    <label for="inputIdentity" class="sr-only">Type</label>
                                    <input type="text" ng-model="service.type" class="form-control" id="inputName" placeholder="Entrer un type">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="createService(service)">Ajouter</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            
            <button type="button" class="btn btn-default" ng-click="updateVictim(victim)">Modifier</button>
    </form>
</div>