<div class="container container-margin">
    <form role="form" ng-init="loadVictim()">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label for="inputName">Identité</label>
                    {{victim.identity}}
                </div>
                <div class="col-lg-6">
                    <label for="inputBirth">Date de naissance </label>
                    {{victim.birthdate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label for="inputZone">Zone </label>
                    {{victim.zone}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label for="inputEvents">Evenements </label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="event in victim.events">{{event.name}} <span class="label label-info label-right">{{event.date|date:'dd/MM/yyyy'}}</span></li>
                        <li class="list-group-item" ng-show="victim.events.length === 0">Pas d'événements</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <label for="inputServices">Services </label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="service in victim.services"><span ng-if="service.provider.name">{{service.provider.name}} :</span> {{service.name}} {{service.quantity.value}} {{service.quantity.unit}}<span class="label label-info label-right">{{service.date|date:'dd/MM/yyyy'}}</span></li>
                        <li class="list-group-item" ng-show="victim.services.length === 0">Pas de services</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputLocation">Localisation</label>
            <div id="mapLocalisation" style="height:200px;width:100%;"></div>
        </div>
        
        <div>

                

            <ul class="list-group">
                <label for="inputLocation">Messages</label>
                <li class="list-group-item" ng-show="victim.messages.length === 0">Pas de messages</li>
                <li class="list-group-item" ng-repeat="message in victim.messages">{{message.content}} <span class="label label-info label-right">{{message.author}} - {{message.date|date:'dd/MM/yyyy'}}</span></li>
                <li class="list-group-item">
                    <form role="form">
                        <div class="form-group">
                            <label for="inputExp">Expéditeur </label>
                            <input type="text" ng-model="data.author" class="form-control" id="inputExp" placeholder="Qui êtes-vous ?">
                            <label for="inputMess">Message </label>
                            <input type="text" ng-model="data.content" class="form-control" id="inputMess" placeholder="Ajouter un message">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="sendMess(data)">Poster</button>
                    </form>
                </li>
            </ul>
        </div>
    </form>
</div>
