<div class="container container-margin" ng-init="canUpdateLoc=true">
    <form role="form">
        <div class="form-group">
            <label for="inputName">Identité </label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter the identity" ng-model="victim.identity">
        </div>
        <div class="form-group">
            <label for="inputBirth">Date de naissance </label>
            <input type="text" class="form-control" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" ng-model="victim.birthdate" />
        </div>

        <div class="form-group">
            <label for="inputLocation">Localisation</label>
            <div ng-init="initMap(true)" id="mapLocalisation" style="height:300px;width:100%;"></div>
        </div>

        <button type="button" class="btn btn-default" ng-click="createVictim(victim)">Créer</button>
    </form>
</div>
