<div class="container container-margin">
    <a href="#/victim/new" class="btn btn-link">Ajouter une victime</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Identité</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" ng-hide="victims">
                <td colspan="3">Aucun résultat</td>
            </tr>
            <tr ng-repeat="victim in victims">
                <td>{{$index + 1}}</td>
                <td><a href="#/victim/{{victim._id}}">{{victim.identity}}</a></td>
                <td>{{victim.birthdate}}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="#/victim/{{victim._id}}/update"><i class="glyphicon glyphicon-edit"></i></a>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="deleteVictim($index)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>