<div class="container container-margin" ng-init="loadZone()">
    <form role="form">
        <div class="form-group">
            <label for="inputSurname">Nom </label>
            <input type="text" class="form-control" id="inputType" placeholder="Enter the name" ng-model="zone.name">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label for="inputEvents">Stock </label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="event in victim.events">{{event.name}} <span class="label label-info label-right">{{event.date|date:'dd/MM/yyyy'}}</span></li>
                        <li class="list-group-item" ng-if="victim.events">Pas d'événements</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <label for="inputServices">Personnels </label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="personal in victim.personals"></li>
                        <li class="list-group-item" ng-if="victim.personals">Pas de personnels</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName">Localisation </label>
            <div ng-init="initMap()" id="mapLocalisation" style="height:300px;width:100%;"></div>
        </div>
        <div class="form-group">
            <label for="inputSurname">Type </label>
            <select ng-model="zone.type">
                <option ng-repeat="type in types" ng-value="type">{{types_zone[type]}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-default" ng-click="updateZone(zone)">Modifier</button>
    </form>
</div>