<div class="container container-margin">
    <a href="#/zone/new" class="btn btn-link">Ajouter une zone</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Stocks</th>
                <th>Personnels</th>
                <th>Règles</th>
                <th>Organisation</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" ng-hide="zones">
                <td colspan="3">Aucun résultat</td>
            </tr>
            <tr ng-repeat="zone in zones">
                <td>{{$index + 1}}</td>
                <td>{{zone.name}}</td>
                <td>{{types_zone[zone.type]}}</td>
                <td>{{zone.stock}}</td>
                <td>{{zone.workers}}</td>
                <td>{{zone.rules}}</td>
                <td>{{zone.organization}}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="#/zone/{{zone._id}}/update"><i class="glyphicon glyphicon-edit"></i></a>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="deleteZone($index)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>