<div class="container container-margin">
    <form role="form">
        <div class="form-group">
            <label for="inputSurname">Nom </label>
            <input type="text" class="form-control" id="inputType" placeholder="Enter the name" ng-model="zone.name">
        </div>
        <div class="form-group">
            <label for="inputName">Localisation </label>
            <div ng-init="initMap()" id="mapLocalisation" style="height:300px;width:100%;"></div>
        </div>
        <div class="form-group">
            <label for="inputSurname">Type </label>
            <select ng-model="zone.type">
                <option ng-repeat="type in types" ng-value="type">{{types_zone[type]}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-default" ng-click="createZone(zone)">Créer</button>
    </form>
</div>