/*=========================================
=            Less, custom page            =
=   Ajout de toutes les modifications =
=       de style          =
=========================================*/

body{
  background-color:#4F5F68;
}

.tableau{
  overflow:scroll;
   background-color:#D1D7DC;
   height: 430px;
}

.form-control[readonly]  {
  cursor: text;
}

footer{
  text-align: center;
}