.navigation{
    width: 360px;
    margin: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.navigation h1{
    margin-bottom: 20px;
}
section .row{
margin-top: 80px;
margin-bottom: 120px;
}

@media (max-width: 771px){
    #logo{
        display: none;
    }
}
@media (max-width: 389px){
    .navigation{
        width: 300px;
    }
    .navigation h1{
        font-size: 1.5em;
    }
}
@media (max-width: 768px){
    .header {
        height: 220px;
    }
}