@font-face {
    font-family: "LemonMilk";
    src: url('../font/LemonMilk.otf');
}



/* nav-bar */
.header {
    height: 140px;
}
.header h1{
    color: #50677b;

    margin-top: 40px;
}
#logo {
    width: 214px;
    height: 10px;
    position: relative;
    z-index: 1000;
}
.header{
    font-family: LemonMilk;
    src: local(LemonMilk), url(../font/LemonMilk.otf) format('otf');
    text-align: center;
}
#menu{
    border-image-slice: 13 27 13 27;
    border-image-width: 9px 20px 9px 20px;
    border-image-outset: 4px 0px 4px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("../img/Bordure.png");
}
.header .btn{
    background-color: #009FE3;
}
.header .btn:hover{
    background-color: #00bcff;
}
#connexion{
    margin-top: 30px;

}
/* end nav-bar */
footer{
    margin-top: 60px;
    /*border-top: solid 4px #009FE3;*/
    border-image-source: url("../img/Bordure.png");
    border-image-slice: 13 27 13 27;
    border-image-width: 9px 20px 0px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    text-align: center;
}
footer p{
    padding-top: 20px;
}
#map{
    height: 500px;
    width: 100%;
    background-color: #b2dba1;
}

/* Responsive */

@media (max-width: 638px){

    .header h1{
        width: 100%;
    }
}
@media (max-width: 768px){
    .header {
        height: 180px;
    }
}
@media (max-width: 380px){
    .header {
        height: 210px;
    }
}

/* END Responsive */

#page-form {
    width: 100%;
    background-color: #A1D0DB;
}

#formulaire {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-color: #3498db;    
    border-radius: 25px;
    box-shadow: 7px 7px 1px 1px rgba(0, 0, 0, 0.5);
}

#title_form {
    text-align: center;
    padding-top: 30px;
    color: #333;
}

#inside_form {
    color: #333;
    margin: 0 auto;
    width: 75%;
}

#form_map {
    background-color: #27ae60;
    height: 120px;
}

.valide {
    text-align: center;
}

#side {
    background: #333;
    width: 250px;
    height: 300px;
    padding: 30px;
    position: absolute;
    margin-top: 150px;
    z-index: 100000;
    
    box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 4px 0 10px rgba(0,0,0,0.25);
}

#side {
    left: -220px; /* Change to right: 0; if you want the panel to display on the right side. */
}

.arrow {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #3AA8e0;
    position: absolute;
    top: 0px;
    right: 0px;
}
